__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/
.python-version

.pytest_cache/
.ruff_cache/
.mypy_cache/

.idea/
.vscode/
.DS_Store

hf_cache/
voices/

*.log
out_*.mp3
out_*.wav
out_*.flac
out_*.opus
out_*.aac
out_*.pcm
